html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: norse;
    src: url(assets/Norse\ bold/norse-bold-webfont.woff2);
    src: url(assets/Norse\ bold/norse-bold-webfont.woff);
}

.image-container {
    position: relative;
}

.image-container > img {
    position: absolute;
    height: 100vh;
    z-index: -1;
}

.sidebar-text{
    font-family: norse;
    font-size: 5rem;

    background-color: rgb(0 0 0 / 50%);
    color: aliceblue;
    width: 555.53px;

    /* opacity: 0.6; */

    display: flex;
    justify-content: center;

    padding: 10px;

    position: absolute;
    top: 180px;
}

.sidebar-text img {
    height: 6.2rem;
}